html, body, header, main, div, h1, h2 {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  background: url("img/background-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 15%;
}

nav {
  display: flex;
  justify-content: space-between;
}

#idx-navbar-left {
  width: 25%;
}

#idx-navbar-right {
  width: 25%;
}

.c1 {
  width: 50px;
  height: 50px;
  border: 1px solid white;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

h1 {
  font-family: 'Kotta One', serif;
  font-family: 'Cantarell', sans-serif;
  margin-bottom: 50px;
  font-size: 1.5rem;
}

h2 {
  font-size: 0.75rem;
}

h2:nth-child(1) {
  margin-bottom: 4px;
  text-align: center;
}

h2:nth-child(2) {
  margin-bottom: 50px;
  font-size: 0.75rem;
}

h1, h2, a {
  color: white;
  text-transform: capitalize;
}

a {
  text-decoration:none;
  border: 1px solid white;
  padding: 10px;
  font-size: 0.5rem;
}
