/* * {
  border: 1px solid hotpink;
} */

html, body, nav, ul, li, div, figure, h1, h2, h3, button {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Cantarell', sans-serif;
}

ul {
  list-style: none;
}

nav {
  height: 2.7rem;
  background-color: rgba(10, 0, 0, 0.6);
  position: fixed;
  display: flex;
  justify-content: space-between;
  top:0;
  width: 100vw;
}

#idx-navbar-left {
  background-color: red;
  width: 25%;
  height: 2rem;
  margin: 5px;
}

#idx-navbar-right {
  background-color: red;
  width: 25%;
  height: 2rem;
  margin: 5px;
  text-align: right;
}

.fa fa-gear {
  width: 30px;
  height: 30px;
  border: 1px solid hotpink;
}

.idx-atf {
  /* default display setting is block which takes entire row width */
  /* add background color for fallback in case visitor has images disabled */
  background-color: navy;
  background: url("img/background-photo.jpg");
  /* when using background-image also set background attachment to fixed so resizing screen does not cause image to resize or be scrollable */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.idx-center {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

h1, h2, h3 {
  color: white;
  text-align: center;
}
h1 {
  font-size: 2rem;
}

h2 {
  font-weight: 700;
}

h1, h3 {
  margin-bottom: 50px;
  font-weight: 700;
}

h2, h3 {
  font-size: 1.5rem;
}

button {
  padding: 25px;
  color: rgb(130, 224, 170);
  border: 1px solid rgb(130, 224, 170, 0.9);
  background-color: transparent;
  border-radius: 5px;
  text-align: center;
  font-size: 2rem;
}
