/* * {
  border: 1px solid hotpink;
} */

html, body, h1, h2, h3, button {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Cantarell', sans-serif;
}


.idx-atf {
  /* default display setting is block which takes entire row width */
  /* add background color for fallback in case visitor has images disabled */
  background-color: navy;
  background: url("img/background-photo.jpg");
  /* when using background-image also set background attachment to fixed so resizing screen does not cause image to resize or be scrollable */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.idx-center {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

h1, h2, h3 {
  color: white;
  text-align: center;
}
h1 {
  font-size: 1.5rem;
}

h2 {
  font-weight: bolder;
}

h1, h3 {
  margin-bottom: 50px;
}

h2, h3 {
  font-size: 0.75rem;
}

button {
  padding: 5px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 5px;
  text-align: center;
}
