body {
  background-color: white;
}

article {
  border: 10px groove orange;
  display: inline;
  display: block;
  width: 100%;
  height: 100px;
  background-image: url("img/Tulips.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  box-sizing: border-box;
}

section {
  border: 10px groove orange;
  display: inline;
  display: block;
  width: 100%;
  height: 100px;
}

aside {
  border: 10px groove orange;
  display: inline;
  display: block;
  width: 100%;
  height: 100px;
}
