html, body, ul, li {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul {
  text-align: center;
  w:
}

li > a {
  display: block;
  padding: 10px;
  font-family: Times, serif;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: cyan;
  border-bottom: 1px inset gray;
}
