* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
}

body, header, article, section, .aside1, .aside2, footer {
  width: 100%;
}
