

header {
  order: 1;
}
/* cannot use container for asides due to change in levels and location in flow over different viewport sizes */
.aside1 {
  width: 15%;
  order: 2;
}

/*  rather than class or id, could have used n-th child(n) for example:

aside:nth-child(3) {
  ...
}

aside:nth-child(4) {
  ...
}

the advantage to using nth-child includes having less code to track

*/
.aside2 {
  width: 15%;
  order: 4;
}

article {
  width: 70%;
  order: 3;
}

footer {
  order: 5;
}
