html, body, nav, p {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 80vw;
  margin: 0 auto;
  border: 5px solid gray;
  overflow: auto;
}

ul {
  list-style: none;
}

/* nav element overflows parent container. overflow auto doesnt work. */
nav {
  float: left;
  width: 25%;
  height: 145px;
  border: 1px solid black;
}

/* floating both elements collapses parent container */
p {
  /* float: right;  */
  width: 75%;
  height: 145px;
  margin-left: 25%;
  border: 1px solid black;
}
