#logo {
  /* margin-left: 10%; */
}

main {
  max-width: 800px;
}

.main-header {
  margin-bottom: 40px;
}

.workshops-header-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: -10px;
}

.workshops-header-list li {
  display: inline;
}

.articles-container {
  max-width: 800px;
}

.articles-container figure {
  max-width: 90%;
  height: 400px;
  margin: 40px auto;
}

/*  homepage container  */
.homepage-container {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

/* .homepage-container h1 {
  font-family: 'Alice', serif;
  font-size: 3.8rem;
}

.homepage-container img {
  width: 95%;
}

.homepage-container span {
  color: red;
  font-size: 1.2rem;
  text-decoration: underline;
} */

.idx-headshots-wrapper, .idx-workshops-wrapper {
  width: 50%;
  margin: 10px;
}

.contact {
  max-width: 800px;
}

.contact figure img {
  max-width: 500px;
}

/****************************************/
        /** start of contact form **/
/****************************************/

.form-container {
  display: flex;
  flex-flow: row wrap;
  width: 95%;
  max-width: 500px;
  margin: 5px auto;
}

.form-field-format label {
  display: inline-block;
}

.cta-sec {
  width: 100%;
  background-color: white;
}

footer {
  display: block;
}
