html, body, div {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /* width: 100%;  this set the elements to overlap the right side screen
  since these are by default block displays setting widths are unnecessary since blocks take the entire width of row automatically. */
  margin: 5px;
}

div {
  border-radius: 5px;
}
.c1 {
  height: 50px;
  background-color: tan;
  margin-bottom: 5px;
}

.c2 {
  background-color: cyan;
  width: 30%;
  height: 300px;
  margin-bottom: 5px;
  float: left;
}

.c3 {
  float:right;
  width: 69.5%;
  height: 300px;
  margin-bottom: 5px;
  background-color: gray;
}

.c4 {
  height: 50px;
  background-color: skyblue;
  margin-bottom: 5px;
  clear: both;
}
