ul {
  flex-flow: row nowrap;
  justify-content: flex-end;
  list-style: none;
  border-bottom: 1px solid #1F618D;

}

a {
  padding: 1em;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
