<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="price-table-proto.css">
  <title>price table proto</title>
</head>
<body>
  <!--  the following provides:
    * table container/wrapper
    * sections, with:
      * header
      * main body, with list
      * footer, with price and link  -->


  <!--  emmet -->
  <!-- div[class="container"]>(section[class="table-sec"]>header>h2[class="price-table-sec-title"]+h3[class="price-table-sec-subhdr"]^p[class="price-table-row2"]+ul[class="price-table-row3"]>li*6)*3 -->

<div class="container">
  <section class="table-sec">
    <header>
      <h2 class="price-table-sec-title"></h2>
      <h3 class="price-table-sec-subhdr"></h3>
    </header>
    <p class="price-table-row2"></p>
    <ul class="price-table-row3">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>
  <section class="table-sec">
    <header>
      <h2 class="price-table-sec-title"></h2>
      <h3 class="price-table-sec-subhdr"></h3>
    </header>
    <p class="price-table-row2"></p>
    <ul class="price-table-row3">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>
  <section class="table-sec">
    <header>
      <h2 class="price-table-sec-title"></h2>
      <h3 class="price-table-sec-subhdr"></h3>
    </header>
    <p class="price-table-row2"></p>
    <ul class="price-table-row3">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>
</div>
</body>
</html>
