<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="vertical-table.css">
  <title>vertical price layout proto</title>
</head>
<body>
  <!--  2D subscription style price table, horizontal descriptions -->
  div[class="container"]>header>h1{Subscribe: Choose Your Plan}^div[class="row-01"]>section[class="row-01-col-01"]+row-01-col-02[class="row-01-col-02"]^row-02[class="row-02"]+

  <div></div>

</body>
</html>
