body {
  width: 800px;
  margin: 20px auto;

}

header {
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
}

ul {
  display: flex;
  justify-content: flex-end;
}

li {
  display: inline-block;
  width: 100px;
  margin-left: 50px;
}

div {
  display: flex;
  justify-content: center;
  background-color: lightgray;
  border: 0;
}

div > div {
  width: 80%;
  background-color: gold;
  border: 2px solid black;
  margin-top: 10px;
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

article {
  width: 100%;
  margin: 10px -3px 10px;
}
