html, body, nav, ul, li {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 80vw;
  border: 5px dotted black;
  margin: 20px auto;
}

nav:first-child > ul {
  list-style: none;
  text-align: center;
}

nav:first-child > ul > li {
  display: block;
}

nav:first-child > ul > li > a {
  display: block;
  padding: 15px;
  border: 1px solid hotpink;
  border-radius: 5px;
  text-decoration: none;
}

li > a {
  display: inline-block;
  font-size: 1.1rem;
}
