html, body, div {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

div:nth-child(1) {
  float: left;
  width: 25%;
  height: 200px;
  border: 3px solid red;
  background-color: gold;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10%;
  font-size: 2rem;
  font-weight: 700;
  box-shadow: 2px 2px 5px gray;
  text-shadow: 1px 2px 1px red;
}

div:nth-child(2) {
  float: right;
  width: 25%;
  height: 200px;
  border: 3px solid red;
  box-shadow: 2px 2px 5px gray;
  background-color: gold;
  padding-top: 10%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;}

div:nth-child(3) {
  height: 200px;
  width: 30%;
  margin: 0 10px;
  position: absolute;
  top:0;
  left: 33%;
  border: 3px solid orange;
  box-shadow: 2px 2px 5px gray;
  background-color: gold;
  padding-top: 10%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}


nav {
 clear: both;
 height: 50px;
 display: block;
 border: 3px solid red;
 background-color: gold;
 text-align: center;
 font-size: 0.75rem;
 font-weight: 700;
  font-variant: small-caps;
}


/***********************************************************************/
/***************************** USING FLEX ******************************/
section {
  display: flex;
  flex-flow: row wrap;
}
section > div:nth-child(4) {
  height: 100px;
  border: 3px solid blue;
}

section > div:nth-child(5) {
  background-color: cyan;
}

section > div:nth-child(6) {}

section > div:nth-child(7) {}
