html, body, div, header, section, h1, h2, h3, h6, p, main, aside, nav, ul, li, a, span {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

#blog-hdr {
  border: 3px solid black;
}

#blog-hdr-logo-soc {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100px;
  background-color: lightgray;
}

#blog-hdr-logo {
  width: 70%;
  height: 55px;
  text-transform: uppercase;
  background-color: inherit;
  padding: 10px;
  margin-left: 40px;
}

#blog-hdr-soc-med {
  width: 75%;
  height: 75px;
  background-color: inherit;
  font-size: 12px;
  font-weight: 700;
  text-align: right;
  margin-right: 40px;
}

#blog-hdr-title {
  position: relative;
  height: 75px;
  background-color: gray;
}

#blog-hdr-title #headings {
  width: 100%;
  text-align: center;
}

#headings {
  color: white;
  padding-top: 10px;
}


#headings > h2 {
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
}

#blog-hdr-title > div {
  position: absolute;
  top: 50px;
  right: 120px;
  width: auto;
  padding: 10px;
  background-color: darkred;
  border: 1px solid black;
  color: white;
  text-align: center;
  margin: 10px, 0px, 10px;
}

/*  end of header  */
/*  start of main  */

#h2-latest-posts {
  background-color: black;
  color: white;
  padding: 25px 0px 25px 70px;
}

main {
  margin: 0px 0px 40px 40px;
  width: 70%;
}


/*  start of posts  */

.blog-post-sec {
  width: 100%;
  position: relative;

}

.blog-post-sec > header {
  width: 50%;
  margin: 25px 0px 0px 35px;
}

.post-captions {
  display: flex;
  justify-content: space-between;
  font-size: xx-small;
}

.post-captions figcaption {
  width: 50%;
  /* margin: 40px 20px 0px 10px; */
}

.post-captions .post-date {
  width: 50%;
  /* margin: 40px 0px 0px 60px; */
}

figure {
  width: 400px;
  height: 300px;
  background-color: gold;
  border: 2px solid black;
  display: inline-block;

}


.blog-post-sec > p {
  padding: 10px 5px;
  margin-left: 30px;
  width: 75%;
}

.blog-img-insert {
  width: 400px;
  height: 300px;
  float: right;
  background-color: gold;
  border: 2px solid black;
}

/*  end of posts  */
/*  start of aside  */

aside {
  width: 100%;
  padding: 40px 0px 50px 70px;
  position: relative;
}

aside h3 {
  font-size: 1.7rem;
}

aside p {
  font-size: 14px;
}

aside > div > a {
  text-decoration: none;
  background-color: darkred;
  padding: 10px;
  text-align: center;
  border: 3px solid black;
  position: absolute;
  top: 50px;
  right: 150px;
  color: white;
}

/*  end of aside  */
/*  start of B2B Call to Action  */

.call-to-action {
  position: relative;
  width: 100%;
  border: 3px solid black;
  margin: 50px 0px 50px;
}

.call-to-action > h2 {
  background-color: lightgray;
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid black;
}

#c2a-label {
  display: inline-block;
  width: 200px;
  margin: 15px 0px 0px 30px;
  vertical-align: top;
}


.submit {
  display: inline-block;
  width: 400px;
  height: 200px;
  font-weight: 700;
  margin: 10px 0px 60px 30px;
  line-height: 40px;
}

.call-to-action > a {
  position: absolute;
  bottom: 0px;
  right: 70px;
  width: auto;
  padding: 10px;
  border: 3px solid black;
  background-color: darkred;
  text-align: right;
  text-decoration: none;
  color: white;
}


/*  end of B2B Call to Action  */

/*  start of About Author  */

.blog-about-author {
  border: 3px solid black;
  padding: 10px;
}

.blog-about-author > h3 {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.blog-about-author > nav {
   display: inline-block;
   width: 400px;
   text-align: right;
}

.blog-about-author > nav > ul > li {
  display: inline-block;
}

.blog-about-author > p {
  padding: 10px;
  margin-top: 10px;
}


/*  end of About Author  */

/*  start of Previous - Next links  */

.previous-next {
  width: 100%;
}

.previous-post {
  display: inline-block;
  width: 400px;
}

.next-post {
  display: inline-block;
  width: 460px;
  text-align: right;
}


/*  end of Previous - Next links  */



/*  start of sidebars   */

#blog-sidebar {
  width: 25%;
  position: absolute;
  top: 210px;
  right: 20px;
}

#blog-sidebar-archives {
  width: 100%;
  border: 3px solid black;
  border-radius: 10px;
  background-color: gray;
  padding: 10px 20px;
  text-align: center;
}

#blog-sidebar-archives ul {
  margin-bottom: 20px;
}

#blog-sidebar-archives a {
  text-decoration: none;
}


#blog-sidebar-signup-ebook {
  width: 100%;
  border: 3px solid black;
  border-radius: 10px;
  background-color: gray;
  padding: 10px 20px;
  text-align: center;
  margin-top: 40px;
}

.sidebar-signup-button {
  width: 100px;
  padding: 10px;
  background-color: darkred;
  border: 1px solid black;
  color: white;
}

#blog-sidebar-signup-ebook figure {
  width: 125px;
  height: 125px;
  background-color: gold;
  border: 3px solid black;
}

/*   end of sidebar   */
/*   start of footer   */

footer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: gray;
  border: 2px solid black;
  padding: 20px;
}

footer section {
  width: 15%;
}

#blog-footer-ribbon {
  text-align: right;
  height: 20px;
}
