html, body, section, article, header, figure, nav, main, div, h1, h2, p, span, svg, aside, form, input, label, button, ul, li, a {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-family: 'Alice', serif;
  font-size: 1rem;
  font-weight: 400;
}

body {
  /* max-width: 680px; */
}

ul {
  list-style: none;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: 800;
}

p {
  color: gray;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

/******************************************/
          /*  start of header  */
/******************************************/

#top-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 10px;
  width: 100%;
  background-color: white;
}

#logo {
  background-image: url("img/Beauty-by-Masayo-emblem.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20%;
  height: 50px;
}

#logo a {
  padding: 80%;
}


/******************************************/
          /*  start of menu  */
/******************************************/

#menu-label {
    /* position */
    position: fixed;
    top: 1.2rem;
    right: 2rem;
    z-index: 1;
    /*arrange content*/
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    /* toggle */
    display: none;
}

#sidebar {
    /* toggle */
    position: fixed;
    right: -850rem;
    /* formatting */
    height: 50vh;
    width: 75vw;
    max-width: 200px;
    background-color: silver;
    border-right: 2px solid white;
    font-size: 1.5rem;
    /* transition */
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    overflow: scroll;
}

#sidebar a {
  color: black;
  padding: 10px;
}

input[type="checkbox"]:checked + #sidebar {
    /* toggle */
    right: 0;
}

.sidebar ul {
    margin-top: 4rem;
}

#sidebar li {
  padding: 5px;
}


/****************************************/
/** start of main **/
/****************************************/

h1, h2, h3 {
  font-family: 'Alice', serif;
  color: rgb(190, 30, 45);
  font-variant: small-caps;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 98%;
  /* max-width: 680px; */
  margin: 75px auto;
}

main > header {
  width: 100%;
  /* max-width: 350px; */
}

h1 {
  font-size: 4.5rem;
  line-height: 60%;
  letter-spacing: -4px;
  text-align: center;
}

main > header > h2 {
  /* text-indent: 18%; */
  line-height: 100%;
  color: rgb(190, 30, 45);
  width: 100%;
  /* max-width: 500px; */
  font-size: 2rem;
  text-align: center;
}

h3 {
  color: rgb(190, 30, 45);
  font-size: 1.3rem;
  width: 75%;
  margin: 25px auto;
  margin-bottom: 5px;
}

main header figure {
  background-image: url("img/headshots/headshots-white-male.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  text-align: center;
}

.articles-container {
  margin: 0 auto;
}

article {
  border: 2px solid rgba(190, 30, 45, 0.1);
  border-radius: 10px;
  padding: 10px 5px;
  background: linear-gradient(rgb(235, 245, 251, 0.5)45%, rgb(235, 245, 251, 0.8));
  margin: 10px auto;
}

.articles-container article section figure {
  width: 90vw;
  height: 400px;
}

/* article header h2 {
  font-size: 1.75rem;
  color: rgb(190, 30, 45);
  text-align: left;
  font-variant: small-caps;
} */

main ul {
  margin: 15px 20px;
}

main ul li {
  padding: 15px;
  font-size: 1.5rem;
}

.fees {
  text-align: center;
  width: 95%;
  max-width: 650px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 2px 3px 15px gray, -2px -3px 15px gray;
  padding: 10px 30px;
}

.fees li:first-of-type {
  line-height: 100px;
}

.fees li:nth-child(2) {
  line-height: 15px;
  font-size: 2em;
  margin-top: -40px;
}

.fee li:nth-child(3) {
  font-size: 1.5rem;
}

.fees li:nth-child(n+5):nth-child(-n+8) {
  margin: 10px;
}

.dollar-sign {
  font-size: 3rem;
  vertical-align:text-bottom;
  margin-right: -5px;
}

.dollars {
  font-size: 9rem;
  letter-spacing: -20px;
  vertical-align: text-bottom;
}

.three {
  font-size: 3.5rem;
}

article figure {
  border-radius: 10px;
}

#figure-01 {
  background-image: url("img/headshots/headshots-studio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#figure-02 {
  background-image: url("img/headshots/headshots-black-female.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#figure-03 {
  background-image: url("img/headshots/headshots-white-male.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#figure-04 {
  background-image: url("img/headshots/headshots-white-male.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

article h2 {
  font-size: 2.5rem;
}

main p {
  font-size: 1.2rem;
  padding: 10px 5px;
  color: gray;
}

.discounters {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 10px 0;
  /* border-top: 2px solid black;
  border-bottom: 2px solid black; */
  width: 100%;
}

.discounters > p {
  color: white;
  background: linear-gradient(rgb(86, 101, 115, 0.7)45%, rgb(86, 101, 115, 1));
  border-radius: 10px;
  padding: 10px;
  width: 55%;
  margin-right: -10px;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: arial;
  line-height: 18px;
}

.discounters i {
  width: 25%;
}

/****************************************/
        /** start of contact form **/
/****************************************/

.form-container {
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  margin: -85px auto;
  margin-bottom: 25px;
  border: 3px solid black;
  border-radius: 5px;
  max-width: 700px;
}

.form-container header h3 {
  font-size: 3rem;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

input {
  margin: 10px auto;
  width: 90%;
  height: 30px;
  font-size: 1.25rem;
  border: 2px solid silver;
}

.cta-button {
  margin: 10px auto;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1.25rem;
  height: 100px;
  width: 90%;
  max-width: 400px;
  background: linear-gradient(rgb(190, 30, 45, 0.5)45%, rgb(190, 30, 45, 1));
}

.cta-button:active {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px gray;
}

/****************************************/
        /** start of footer **/
/****************************************/

footer {
  height: 100px;
  background-color: lightblue;
  display: none;
}
