html, body, header, figure, nav, ul, main, div, h1, span {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/*
body {
  background:
    linear-gradient(215deg, rgba(255, 138, 101), rgba(255, 225, 0, 100) 65%),
    linear-gradient(120deg, rgba(255, 153, 0, 0.5), rgba(255, 255, 0, 0.5) 70.75%),
    linear-gradient(155deg, rgba(0, 255, 0, 0.5), rgba(0, 0, 255, 0.5) 71.75%),
    linear-gradient(180deg, rgba(75, 0, 130, 0.5), rgba(238, 130, 238, 0.5) 75.01%);
} */

#idx-atf-wrapper {
  height: 100vh;
  width: 95%;
  /* border: 4px solid black; */
  margin:10px auto;
  padding: 10px 25px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/******************************************/
          /*  start of header  */
/******************************************/

#top-header {
  display: flex;
}

#logo {
  background-image: url("img/Beauty-by-Masayo-website-1024x343.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25%;
  height: 100px;
}

#logo a {
  padding: 75px 150px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

nav > ul {
  margin-top: 30px;
}

nav > ul > li {
  display: inline-block;
  margin-left: 30px;
}

nav > ul > li > a {
  font-size: 1.75rem;
  text-decoration: none;
}

#top-admin-links {
  padding: 15px 0;
  margin-left: 2%;
}

#top-admin-links > ul > li {
  margin: 3px 40px;
}

#top-admin-links > ul > li > a {
  font-size: 1.1rem;
}


/****************************************/
/** start of main **/
/****************************************/

main {
  display: flex;
  width: 95%;
  margin: 50px auto;
  position: relative;
}


#idx-headshots-wrapper, #idx-workshops-wrapper {
  width: 50%;
  /* border: 5px double navy; */
  /* border-radius: 2%; */
  margin: 20px;
  height: 500px;
  position: relative;

}

#idx-headshots-wrapper {
  background-image: url("img/headshot-front-page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#idx-workshops-wrapper {
  position: relative;
  background-image: url("img/homepage-workshop-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#idx-headshots-hdr, #idx-workshops-hdr {
  position: absolute;
  top: -140px;
  left: -70px;
  padding: 50px;
  /* border: 5px solid blue; */
  /* border-radius: 100%; */
  /* background-color: skyblue; */
}


#idx-headshots-copy {
  position: absolute;
  bottom: -50px;
  right: 50px;
  width: 50%;
  background-color: rgba(200, 250, 45, 0.6);
  padding: 30px;
}

#idx-workshops-copy {
  position: absolute;
  bottom: -50px;
  right: 20px;
  width: 50%;
  background-color: rgba(200, 250, 45, 0.4);
  padding: 30px;
  color: white;
}

#idx-learn-link {
  position: absolute;
  right: 10px;
  bottom: -40px;
  background-color: orange;
  border: 8px dotted red;
  padding: 20px;
  border-radius: 25px;
}
