html, body, header, figure, nav, ul, main, div, h1, span, svg {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.atf-wrapper {
  height: 100vh;
  width: 90%;
  border: 1px dotted black;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/******************************************/
          /*  start of header  */
/******************************************/

#top-header {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

#logo {
  background-image: url("img/Beauty-by-Masayo-website-1024x343.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15%;
  height: 100px;
}

#logo a {
  padding: 75px 150px;
}

nav {
  width: 70%;
}

nav > ul {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

nav > ul > li {
  text-align: center;
  width: 20%;
}

nav > ul > li > a {
  font-size: 1.55rem;
  text-decoration: none;
}

#top-admin-links {
  width: 15%;
  padding: 15px 0;
}

#top-admin-links > ul > li {
  margin: 3px 40px;
}

#top-admin-links > ul > li > a {
  font-size: 1.1rem;
}


/****************************************/
/** start of main **/
/****************************************/

main {
  display: flex;
  width: 95%;
  margin: 0 auto;
  position: relative;
}


#idx-headshots-wrapper, #idx-workshops-wrapper {
  width: 50%;
  /* border: 5px double navy; */
  /* border-radius: 2%; */
  margin: 0 20px;
  height: 600px;
  position: relative;
  top: 00px;
  z-index: -2;
}

#idx-headshots-wrapper {
  background-image: url("img/headshot-front-page.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;

}

#idx-workshops-wrapper {
  position: relative;
  background-image: url("img/homepage-workshop-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#idx-headshots-hdr, #idx-workshops-hdr {
  position: absolute;
  top: -140px;
  left: -70px;
  padding: 50px;
  /* border: 5px solid blue; */
  /* border-radius: 100%; */
  /* background-color: skyblue; */
}


#idx-headshots-copy {
  position: absolute;
  bottom: -50px;
  left: 10px;
  width: 10%;
  background-color: rgba(200, 250, 45, 0.6);
  padding: 30px;
}

#idx-workshops-copy {
  position: absolute;
  bottom: -50px;
  right: 20px;
  width: 50%;
  background-color: rgba(200, 250, 45, 0.4);
  padding: 30px;
  color: white;
}

#idx-learn-link {
  position: absolute;
  right: 10px;
  bottom: -40px;
  background-color: orange;
  border: 8px dotted red;
  padding: 20px;
  border-radius: 25px;
}
