html, body, ul, li, header, nav, div, main, h1, h2, p, figure {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  border: 4px solid hotpink;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* #atf-wrapper {
  height: 100vh;
} */

#top-header {
  display: flex;
  justify-content: space-around;
  /* width: 98%; */
  /* border: 3px solid hotpink; */
  margin: 5px auto;
}

#logo {
  width: 20%;
  background-color: gold;
  border: 3px solid hotpink;
  margin: 10px 20px;;
}
/* #top-logo {
  width: 10%;
} */

#top-nav {
  width: 70%;
  border: 3px solid hotpink;
  margin: 10px 10px 0px 10px;
  text-align: center;
  /* border-bottom: 2px solid black; */
}

#top-nav > ul:first-child {
    padding-left: 20px;
}

#top-nav > ul > li {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
}

#top-nav > ul > li > a {
  border: 3px solid hotpink;
  font-size: 1.10rem;
}

#top-admin-links {
  /* border: 3px solid hotpink; */
  width: 20%;
  padding: 10px 0px 0px 10px;
}

#top-admin-links > ul > li {
  margin: 3px 0px;
}

/*************************************************/
/*  start of main  */
/*************************************************/

main {
  position: relative;
  margin: 80px 10px 10px 110px;
  padding: 10px 30px;
}

#page-title {
  position: absolute;
  top: -50px;
  left: 50px;
  font-size: 2.5rem;
}

.main-sec {

}

.article {
  width: 75%;
  margin-left: 80px;
  /* border: 3px solid hotpink; */
}

.article > p {
  padding: 5px;
}

.subheader-h3 {
  margin-bottom: -5px;
  font-size: 1.0rem;
}

.img-to-wrap {
  float: right;
  position: relative;
  top: -20px;
  right: -70px;
  margin: 20px 0px 0px -50px;
}

.img-to-wrap > img {
  height: 341px;
  width: 258px;
}

figcaption {
  width: 200px;
  padding: 10px 20px;
  font-size: 0.75rem;
}

#left-sidebar {
  position: absolute;
  top: 280px;
  left: 130px;
  width: 200px;
  margin-left: 15px;
  padding: 10px;
  height: 600px;
  border: 4px solid hotpink;
  border-radius: 10px;
  font-size: 0.75rem;
}

#sidebar-hdr-title {
  margin-bottom: 10px;
  font-size: 1.05rem;
}

#aside-wrapper {
  display: flex;
  justify-content: center;
}

.aside-sec {
  width: 25%;
  margin: 5px;
}

.aside-sec > ul {
  list-style: inside;
}
