html, body, ul, li, header, nav, div, main, h1, h2, p, figure {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#atf-wrapper {
  height: 100vh;
}

#top-header {
  display: flex;
  width: 98vw;
  margin: 5px auto;
}

#top-logo {
  width: 40%;
}

#top-nav {
  width: 100%;
  margin-right: 10px;
  border-bottom: 2px solid black;
}

#top-nav > ul {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#top-nav > ul > li {
  display: inline-block;
  margin-left: 20px;
}

#top-nav > ul > li > a {
  font-size: 1.25rem;
}

#top-admin-links {
  display: inline-block;
  margin: 10px 60px;
}

#top-admin-links > ul > li {
  margin-bottom: 10px;
}

/*************************************************/
/*  start of main  */
/*************************************************/

main {
  position: relative;
  margin: 50px 10px 10px 250px;
  padding: 10px 30px;
}

#page-title {
  position: absolute;
  top: -70px;
  left: -120px;
  font-size: 3rem;
}

.main-sec {

}

.article {
  width: 75%;
  margin-left: 80px;
}

.article > p {
  padding: 5px;
}

.img-to-wrap {
  float: right;
  position: relative;
  top: 20px;
  left: 40px;
  margin: 20px;
}

.img-to-wrap > img {
  height: 331px;
  width: 248px;
}

figcaption {
  width: 200px;
  padding: 10px 20px;
  font-size: 0.75rem;
}

#left-sidebar {
  position: absolute;
  top: 190px;
  left: 70px;
  width: 230px;
  margin-left: 15px;
  padding: 10px;
  height: 600px;
  border: 4px solid hotpink;
  border-radius: 10%;
}

#sidebar-hdr-title {
  text-align: center;
  margin-bottom: 20px;
}

#aside-wrapper {
  display: flex;
  justify-content: center;
}

.aside-sec {
  width: 25%;
  margin: 5px;
}

.aside-sec > ul {
  list-style: inside;
}
