/* html, body, ul, li, header, nav, div, main, aside, section, article, h1, h2, h3, p, a, span, figure, figcaption, form, input, button, footer {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-family: 'Alice', serif;
} */

/*************************************************/
/*  start of main  */
/*************************************************/

/*  start of main article  */
