html, body, nav, div {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 80%;
  border: 4px solid green;
  position: relative;
  height: 300px;
}
nav {
  position: absolute;
  width: 150px;
  height: 100%;
  border: 2px solid orange;
}

div {
  margin-left: 150px;
}
