/* * {
  border: 3px solid red;
} */

html, body, div {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 200vh;
  background-color: hotpink;
  border: 3px solid #C71585;
  margin: 0 auto;

}

div {
  display: inline-block;
  border: 1px dotted DEEPPINK;
  height: 10rem;
  width: 8rem;
}

.c00 {
  position: fixed;
  top: 0;
  left: 10vw;
  width: 80vw;
  padding: 10px;
  /* font styling */
  font-family: monospace;
  font-size: 1.5rem;
  font-style: oblique;
  font-weight: bolder;
  text-transform: uppercase;
  text-align-last: right;
  text-indent: 3rem;
  text-shadow: 0.5px 0.5px 3px gray;
}

.c01 {
  box-shadow: inset 2px 3px 1px 11px red;
  border-radius: 10px;
}

.c01:active {
  box-shadow: inset 2px 3px 1px 8px red;
}

.c02 {
  /* position:absolute; */
  /* float:left; */
  /* bottom: 0;
  left: 0; */
  background-color: RGBA(255, 99, 71, 0.75);
  box-shadow: 1.5px 1.5px 3px gray, 2px 2px 5px black;
  border-radius: 100%;
}

.c02:active {
  position:relative;
  top: 1px;
  left: 1px;
  background-color: RGBA(255, 99, 71, 0.95);
  box-shadow: unset;
  box-shadow: 1.5px 1.5px 3px gray;
  border-radius: 100%;
}

div {
  /* float: left; */
}

.p01 {
  border: 5px solid;
  border-color: RGB(199, 21, 133) RGB(199, 21, 133, 0.5);
  /* position: absolute; */
  /* bottom: 0;
  left: 0; */
}

.p01:hover {
  border: 5px solid;
  border-color: RGB(199, 21, 133) RGB(199, 21, 133, 0.5);
  border-style: inset;
  /* position: absolute; */
  /* bottom: 0;
  left: 0; */
}
