html, body, header, article, aside, footer {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

header, article, aside, footer {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

article {
  text-align: left;
}
