div {
  margin: 140px;
}

button {
  padding: 10px 20px;
  width: 250px;
  border: 2px solid lightgray;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: left;
  color: green;
  background-color: rgb(235, 237, 239);
  background: linear-gradient(rgb(235, 237, 239) 50%,rgb(229, 231, 233));
  font-style: italic;
  letter-spacing: -0.5px;
}

.fas fa-certificate {
  position: absolute;
  left: 500px;
}

div {
  text-align: left;

}

a {
  border: 2px solid darkgray;
  padding: 10px 100px;
  border-radius: 10px;
  text-decoration: none;
}
