label {
    /* position */
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    /*arrange content*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*format*/
    width: 5rem;
    height: 2rem;
    border: .3rem solid darkblue;
    border-radius: 1rem;
    background-color: #C4E8C8;
    color: #3A5FCD;
}
/*
label:hover {
    background-color: #6DC990;
} */

input[type="checkbox"] {
    /* toggle */
    display: none;
}

#sidebar {
    /* toggle */
    position: fixed;
    right: -50rem;
    /* formatting */
    height: 50vh;
    width: 20vw;
    background-color: lightblue;
    border-right: 2px solid blue;
    /* transition */
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}

input[type="checkbox"]:checked + #sidebar {
    /* toggle */
    right: 0;
}

ul {
    margin-top: 1rem;
}
